{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
{{- $features2 := index $section2 "features2" }}
<section class="section is-medium" id="section2">
  <div class="container">
    <!-- <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
      </div>
      <div class="column is-7 mt-60">
        {{- range $features }}
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
            </p>
          </figure>
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div> -->
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div> <br/><br/>
    </div>

    <div class="tile is-ancestor offset-1">
      {{- range $features }}
      <article class="tile is-parent is-4">
        <figure class="image">
            <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
        </figure>
      </article>
      {{- end}}
    </div>
    <div class="tile is-ancestor offset-1">
      {{- range $features2 }}
      <article class="tile is-parent is-4">
        <figure class="image">
            <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
        </figure>
      </article>
      {{- end}}
    </div>
  </div>
</section>