{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $tiles    := index $section3 "tiles" }}
<section class="section section-feature-grey is-medium" style="background-color:#a38ebc;" id="section3">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2" style="color:aliceblue;"> {{ $title }}</h2>
      <!-- <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3> -->
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="tile is-ancestor">
            <div class="tile is-6 is-parent">
              <div class="tile is-child box">
                {{- range $tiles}}
                <!-- <p class="title">One</p> -->
                <img src="{{ printf "/images/illustrations/icons/%s.jpg" .icon | relURL }}">
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-child box">
                <!-- <p class="title">Three</p> -->
                <p>{{ .text1 | markdownify }}</p> <br/>
                <p>{{ .text2 | markdownify }}</p> <br/>
                <p>{{ .text3 | markdownify }}</p>
                {{- end }}
              </div>
            </div>
          </div>
    </div>
  </div>
</section>